@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  background-color: #f1e8d3; /* já alinhado com sua landing */
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

